.article_tags_container{
    width: 100%;
}

.article_tags_container__row{
    display: flex;
    width: 100%;
}

.article_tags_container__row:last-child{
    border-bottom: none !important;
}

.article_tags_container__type{
    width: 10%;
    background-color: #CACACA;
    padding-top: 20px;
    padding-left: 32px;
}

.article_tags_container__tags{
    width: 90%;
    background-color: #DFE1E3;
    border-bottom: 1px solid #000000;
}

.article_tags_container__no_tags_text{
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.article_tags_container__tags--column{
    width: 100%;
}

.article_tags_container__tags--row{
    display: flex;
    margin-top: 20px;
    margin-bottom: 19px;
    padding-bottom: 20px;
}

.article_tags_container__tags--row:last-of-type {
    border-bottom:none;
    margin-bottom:0;
}

    

.tags--add-new{
    width: 25%;
    background-color: #ffffff;
    height: 56px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.tags--add-new--sapn{
    margin: auto; 
    justify-content: center;
    display: flex;
    padding-top: 19px;
}

.tags{
    width: 25%;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;    
    display: flex;
    border-radius: 4px;
}

.tags--index{
    background-color: #000000;
    color: #ffffff;
    width: 30px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 7px;
    padding-right: 6px;
    border-radius: 3.5px 0 0 3.5px;
    border-right: none !important;
    text-decoration: none !important;
}

.tags--sapn{
    display: flex;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 18px;
    width: 100%;
    border-left: none !important;
    border-right: none !important;
}

.tag--span_completed_deleted{
    border-right: solid 2px red !important;
}

.tag--span_completed_new{
    border-right: solid 2px green !important;
}

.tag--span_deleted{
    border: solid 2px red;
    text-decoration: line-through;
}

.tag--span_new{
    border: solid 2px green;
}

.delete_tag{
    padding-right: 16.28px;
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.add_new_tag {
    width: 25%;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    display: flex;
}

.add_new_tag--input{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-left: 10px;
}

.add_new_tag--input:focus{
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:solid 1px black;
}

.article_action_buttons_container{
    background-color: #E8EAEE;
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.article_action_buttons_container--save{
    margin-right: 30px;
    height: 60px;	
    width: 270px;	
    background-color: #000000;
    color: #ffffff;
    font-family: "SF Pro Text";	
    font-size: 18px;	
    font-weight: bold;	
    line-height: 21px;	
    text-align: center;
}

.article_action_buttons_container--next_article{
    height: 60px;	
    width: 270px;	
    background-color: #fffffe;
    color: #000000;
    font-family: "SF Pro Text";	
    font-size: 18px;	
    font-weight: bold;	
    line-height: 21px;	
    text-align: center;
}

.article_comment_container{
    height: 121px;
    background-color: #E8EAEE;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.article_comment{
    width: 100%;
    font-family: "SF Pro Text";	
    font-size: 14px;	
    line-height: 16px;
    border: none;
    padding-top: 20px;
    padding-left: 20px;
}

.article_comment:focus{
    outline: none;
}