.card_container{
    height: 180px;
    margin-bottom: 30px;
    background-color:  #FFFFFF;
    display: flex;
}

.image_container{
    height: 181px;
    width: 181px;
}

.article_content{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    word-wrap: break-word;
}

.article_site{
    margin-left: 20px;
    margin-top: 20px;
    height: 24px;	
    width: 100%;	
    color: #646B74;	
    font-family: "SF Pro Text";	
    font-size: 20px;	
    font-weight: bold;	
    line-height: 24px;
    text-decoration:none;
    text-transform: uppercase;
}

.article_description{
    margin-left: 20px;
    margin-top: 20px;
    height: 96px; 
    color: #000000;	
    font-family: "SF Pro Text";	
    font-size: 24px;	
    line-height: 35px;
}